[submodule "/home/franek/Documents/stm32-cubemx/stm32-cubemx-step-driver/app/utility"]
	path = /home/franek/Documents/stm32-cubemx/stm32-cubemx-step-driver/app/utility
	url = https://github.com/franciszekjanicki/stm32-utility.git
